*.rr
*.core
*.normal
*.record
*.replay
*.pyc
compile_commands.json
rr.shm
build
build.log
Local.sc
.sconsign.dblite
sysroot
sysroot-src
llvm
tags
test/rand
test/read
test/time
test/helloworld
test/network_basic
test/thread_basic
test/thread_mutex
test/thread_print
utils/cfe-*.src.tar.xz
utils/llvm-*.src.tar.xz
lib/Pass/CMakeCache.txt
lib/Pass/CMakeFiles
lib/Pass/Makefile
lib/Pass/cmake_install.cmake
lib/Pass/libCastorPass.so
apps
