*.rr
*.core
*.normal
*.record
*.replay
rr.shm
build
Local.sc
.sconsign.dblite
sysroot
sysroot-src
test/rand
test/read
test/time
test/helloworld
test/network_basic
test/thread_basic
test/thread_mutex
test/thread_print
