*.rr
*.core
*.normal
*.record
*.replay
*.pyc
compile_commands.json
rr.shm
build
build.log
.sconsign.dblite
.sconf_temp
.cache
config.log
sysroot
sysroot-src
llvm
tags
utils/cfe-*.src.tar.xz
utils/llvm-*.src.tar.xz
apps
Local.sc
